/*Skeleton V2.0.4 Copyright 2014, Dave Gamache www.getskeleton.com*/
.resume {
position:fixed;
top:20px;
right:20px;
z-index:5000;}

.work {
position:fixed;
top:20px;
left:20px;
z-index:5000;}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* Desktop */
@media (min-width: 550px) {
  .container {
    width: 100%;}
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Basic */
html { font-size: 62.5%; }

body {
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-style: normal;
  font-family: "Goudy Oldstyle W01", "Goudy", serif;
  color: rgba(0,0,0,.86);
  background-color: rgba(255,236,229,.6); }

img { max-width: 100%; }

img.work  { margin-bottom: 10px;}

/* Typography */
h1, h2 {
  margin-top: 0;
  margin-bottom: 1rem; }

h1 {
  font-weight: 400;
  text-align: center;
  font-size: 60px;
  line-height: 60px; }

h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 38px;
  color: rgba(0,0,0,.4);}

h3, .nav {
  font-family: "Helvetica Neue LT W01_63 Md Ex", "Helvetica Neue LT Std", sans-serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.15em;
  line-height: 14px;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;}

strong {
  font-weight: 500;
  font-family: "Goudy Oldstyle W01 Bold", "Goudy", serif;}

p {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 34px;}

.small {
  font-size:14px;
  line-height: 18px;
  color: rgba(0,0,0,.4);}

.right {
  text-align: right;}

.center {
  text-align: center;}

/* Typography Desktop */
@media (min-width: 550px) {
}


/* Links */
a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,.25);}

a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(0,0,0,1); }

.logo {
  color: black;
  text-decoration: none;
  border-bottom: 0;}

.logo:hover {
  color: black;
  text-decoration: none;
  border-bottom: 0; }


/* Lists */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }



/* Tables */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
form {
  margin-bottom: 2.5rem; }


/* Utilities */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid black; }


/* Clearing */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }
